* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Poppins";

}

:root {
    --secondary-bg-color: rgb(140, 49, 140);
    --bg-color: rgb(224, 210, 224);
    --bg-color2: rgba(224, 210, 224, .4);
    --text-color: black;
    --main-color: orange;
}

html {
    /* font-size: 60%; */
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 0;
    margin: 0;
    width: 100vw;

}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 2rem 8%;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-around !important;
    align-items: center;
    z-index: 1000;


}

section {
    width: auto;
}

#menu-icon {
    font-size: 3.5rem;
    color: var(--main-color);

}

.logo {
    font-size: 2.3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out
}

span#logo {
    background: linear-gradient(270deg,
            purple 10%,
            rgb(197, 148, 3) 100%);
    background-clip: text;
    color: transparent;
}

.navbar {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar a {
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 500%;
    transition: 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
    /* display: flex;
    justify-content: space-around; */
}

.navbar a:hover {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color)
}

.gradient-btn {
    font-size: 1.1rem;
    padding: 1rem 3rem;
    border-radius: 5rem;
    background: linear-gradient(rgb(145, 66, 145) 100%,
            rgb(211, 180, 88) 100%);
    letter-spacing: 1px;
    cursor: pointer;
    font-weight: 800%;
    text-wrap: nowrap;
}

.gradient-btn:hover {
    transform: scale(1.1);
    background-color: var(--main-color);
      
}
/* .gradient-btn:hover {
    background-color: var(--bg-color2);
  } */

#home {
    padding: 9rem 10%;
    padding-bottom: 1em;
    display: flex;
    height: auto;

    h2 {
        color: purple;
        font-size: 4rem;
    }

    h3 {
        color: black;
    }

    .social-icons {
        display: flex;
    }

    #profession {
        border-right: 4px solid orange;
        font-size: .9em;
        /* animation: typing .75s infinite; */
    }

    /* @keyframes typing {
        from, to {
            border-right: tranparent;
        }

        50% {
            border-right: orange;
        }
    } */
}

.container {
    display: flex;
    justify-content: space-between;
}

.left {
    font-size: 1.2rem;
    align-content: normal;
    padding-top: 9%;
    margin-left: 1rem;
}

.social-icons a {
    /* display: flex; */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-weight: 80%;
    font-size: 1.6rem;
    background: transparent;
    color: var(--secondary-bg-color);
    border: 2px solid var(--secondary-bg-color);
    border-radius: 50%;
    text-decoration: none;
    margin: 10px 25px 30px 0;

}

.social-icons a:hover {
    background: blueviolet;
    color: black;
    box-shadow: 0 0 20px blueviolet;
}

.right {
    animation: forwards;
}

.container1 {
    /* padding: 20rem 15%; */
    width: 100%;
    background-image: url(../images/coding.jpg);
    background-position-y: bottom;
    background-size: cover;
    backdrop-filter: blur(10px);
    backdrop-filter: purple;
    height: 100vh;
    /* position: absolute; */
    background-attachment: fixed;
    display: flex;
    /* align-items: center;
    justify-content: center; */

}
.about{
    
}
.aboutt {
    background-color: white;
    backdrop-filter: blur(100px);
    height: 50vh;
    padding-top: 20px;
    /* padding: 2em; */
    background-color: var(--bg-color);
    /* color: white; */
    width: 60%;
    /* margin-top: 40px; */
    margin: 17% auto auto auto;
    transition: 6.9s ease-in-out;

    h2 {
        display: flex;
        justify-content: center;
        border-bottom: 3px solid var(--secondary-bg-color);
        border-radius: 20%;

        font-size: 1.9rem;

    }

    h3 {
        font-size: 1.2rem;
        color: rgb(5, 5, 5);
    }


}

#skills {
    background-color: white;
    /* width: 100%; */
    height: auto;
    padding: 75px;

    h2 {
        padding: 3rem;
        font-size: 35px;
        display: flex;
        justify-content: center;
    }

}

.grid {
    display: flex;
    /* flex: 1; */
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    padding: 5px 0px;
    /* margin-left: 120px; */
    justify-content: space-between;

    h3 {
        font-size: 20px;
        text-decoration: underline;
        text-underline-offset: 10px;
        text-decoration-thickness: 5px;
        margin-bottom: 50px;

    }
}

.bar {
    font-size: 23px;
}

h1, h2, h3, h4 {

}

.techS,
.profS {
    width: 50%;
    padding:  0 1.1em;
}
.techS{
    /* background-color: #007bff; */
}
.profS{
    /* background-color: #444; */
}

.techS .bar {
    margin-top: 20px;
}

.techS .bar:first-child {
    margin-top: 0;
}

.techS .bar:last-child {
    margin-top: 0;
}

.techS .bar .infor {
    margin-bottom: 5px;
}

.techS .bar .infor span {
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.techS .bar .progress-line {
    position: relative;
    border-radius: 10px;
    width: 85%;
    height: 5px;
    background-color: var(--secondary-bg-color);
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

.techS .bar .progress-line span {
    height: 100%;
    background-color: var(--main-color);
    position: absolute;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

.progress-line.html span {
    width: 75%;
}

.progress-line.css span {
    width: 60%;
}

.progress-line.javascript span {
    width: 45%;
}

.progress-line.python span {
    width: 20%;
}

.progress-line.wordpress span {
    width: 80%;
}
.progress-line span::after{
    position: absolute;
    padding: 1px 1px;
    background-color: black;
    color: white;
    font-size: 12px;
    border-radius:3px;
    top: -28px;
    right: -20px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0; 

}
.progress-line.html span::after{
    content: "75%";
}
.progress-line.css span::after{
    content: "60%";
}
.progress-line.javascript span::after{
    content: "45%";
}
.progress-line.python span::after{
    content: "20%";
}
.progress-line.wordpress span::after{
    content: "80%";
}
.progress-line span::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width:0px;
    border-right-width:0px ;
    border-top-color:rgb(27, 6, 110) ;
    top: -10px;
    right:0;
    animation: showText 0.5s 1.5s linearforwards;
    opacity: 0;
}
@keyframes showText{
    100%{
        opacity: 1;
    }
}


.radial-bars{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    
}
.radial-bars .radial-bar{
    width: 50%;
    height: 170px;
    font-size: 1.2rem;
    flex-wrap: wrap;
    margin-bottom: 60px;
    position: relative;
}
.radial-bars .radial-bar svg{
    position: absolute;
    top: 60%;
    left: 20%;
    transform:  translate(-50%, -50%) rotate(-90deg);
    width: 140px;
    height: 140px;
    border-width: 30%;

}
.radial-bars .radial-bar .progress-bar{
    stroke-width: 8;
    stop-color:var(--main-color);
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animate-bar 1s ease forwards;
}
@keyframes animate-bar{
    100%{
        stroke-dashoffset: -1;
    }
}
.path{
    stroke-width: 9px;
    stroke: var(--secondary-bg-color);
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}


.path-1 {
    animation: animate-path1 1s ease forwards;
  }
  
/* .path-1{animation: animate-path1 1s 1s linear forwards;} */
.path-2{animation: animate-path2 1s 1s linear forwards;}
.path-3{animation: animate-path3 1s 1s linear forwards;}
.path-4{animation: animate-path4 1s 1s linear forwards;}

@keyframes animate-path1{
    100%{
        stroke-dashoffset:20;;
    }
}

@keyframes animate-path2{
    100%{
        stroke-dashoffset: 18;;
    }
}
@keyframes animate-path3{
    100%{
        stroke-dashoffset: 80;
    }
}
@keyframes animate-path4{
    100%{
        stroke-dashoffset: 15;;
    }
}
.radial-bar .percentage{
    position: absolute;
    top: 100px;
    left: 20%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    font-weight: 500;
    animation: show;
}


.profS {
    display: flex;
    flex-direction: column;
    align-content: normal;
    /* margin-right: 2rem; */

}
.container3 {
    padding: 120px 20px;
    background-color:var(--bg-color);
    /* background-image: url(coding.jpg); */
    width: 100%;
    height: 140vh;
    min-height: 100vh;
  }
  
  .projects-container {
    max-width: 1200px;
    height: 100vh;
    margin: auto;
    text-align: center;
  }
  
  .projects-container h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    /* height: 100vh; */
  }
  
  .section-subtitle {
    font-size: 1.6rem;
    color: #393636;
    margin-bottom: 40px;
  }
  
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
  }
  
  .project-card {
    background-color: #f9f9f9;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.06);
    transition: transform 0.3s ease;
  }
  
  .project-card:hover {
    transform: translateY(-5px);
  }
  
  .project-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .project-card h3 {
    margin: 15px;
    font-size: 1.3rem;
  }
  
  .project-card p {
    margin: 0 15px 20px;
    font-size: 1rem;
    color: #555;
  }
  
  .project-card a {
    display: inline-block;
    margin-bottom: 20px;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .project-card a:hover {
    color: #0056b3;
  }
  
.container5 {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 40px;
    background-color: var(--bg-color);
  }
  
  .contact-container {
    background: #ffffff;
    padding: 40px;
    max-width: 600px;
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }
  
  .contact-container h1 {
    margin-bottom: 10px;
    font-size: 2rem;
    color: #222;
  }
  
  .contact-container p {
    margin-bottom: 25px;
    font-size: 1rem;
    color: #555;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
  }
  
  .contact-form button {
    background-color: var(--secondary-bg-color);
    color: #fff;
    align-content:center;
    left: 50%;
    border: none;
    padding: 14px 20px;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .contact-form button:hover {
    background-color: var(--main-color);
  }
  .container4 {
    padding: 130px 20px;
    background-color: #ffffff;
  }
  
  .experience-container {
    max-width: 900px;
    margin: auto;
    text-align: center;
  }
  
  .experience-container h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  .section-subtitle {
    color: #666;
    margin-bottom: 40px;
    font-size: 1.1rem;
  }
  
  /* Timeline */
  .timeline {
    position: relative;
    margin-left: 20px;
    border-left: 3px solid var(--secondary-bg-color);
    padding-left: 20px;
  }
  
  .timeline-item {
    position: relative;
    margin-bottom: 40px;
    padding-left: 20px;
  }
  
  .timeline-dot {
    width: 14px;
    height: 14px;
    background-color:var(--secondary-bg-color);
    border-radius: 50%;
    position: absolute;
    left: -10px;
    top: 0;
  }
  
  .timeline-content {
    background:var(--bg-color);
    padding: 20px;
    border-radius: 8px;
    text-align: left;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  }
  
  .timeline-content h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
    color: #222;
  }
  
  .timeline-date {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 10px;
    display: block;
  }
  
  .timeline-content p {
    font-size: 1rem;
    color: #444;
    line-height: 1.5;
  }
  #humburger_menu{
    display: none;
  }
  /* Responsive */
  @media (max-width: 600px) {
    .timeline {
      border-left: none;
      padding-left: 0;
    }
  
    .timeline-item {
      padding-left: 0;
    }
  
    .timeline-dot {
      display: none;
    }
  }
  .Copyright{
	padding:14px;
	text-align:center;
	background-color: var(--secondary-bg-color);
}

.mobile_navbar  {
    display: none;
}

@media screen and (max-width: 899px){

    .header {
        padding: 2em 0;
        justify-content: space-around !important;
        flex-wrap: wrap;
    }
    section {
        height: auto !important;
    }

    .navbar {
        display: none;
    }

    .mobile_navbar {
        width: 100%;
        /* display: flex; */
        flex-direction: column;
        background-color: white;
        margin: 1rem;
    }
    .mobile_navbar a{
        padding: 0.8em;
        font-size: 1rem;
    }

    .mobile_navbar a.active {
        color:var(--main-color);
    }

    .mobile_navbar a:hover {
        /* background-color: var(--main-color); */
    }
    #humburger_menu{
        font-size: 1.3rem;
        border: none;
        background-color: transparent;
    }

    #home {
        padding: 10em 5%;
        padding-top: 6em;
        padding-bottom: 1em;
    }
    #profession{
        font-size: 1em;
    }
    .aboutt{
        height: auto;
        /* padding: 0 1em; */
        width: 80%;
        margin-bottom: 2em;

    }
    .aboutt h3{
        width: 100%;
    }

    #humburger_menu {
        display: flex;
    }

    .gradient-btn {
        padding: .5em 2em;
    }
    #skills{
        padding: 1em 1em;
    }
    #skil{
        padding: 0;
    }
    .techS, .profS{
        width: 50%;
    }
    #projects{
        padding: 1em;
        height: auto;
    }
    .projects-container{
        height: auto;
    }
    .experience-container{
        padding: 0;
    }

}

@media screen and (max-width: 499px){
    .header {
        padding: 2em 0;
        justify-content: space-around !important;
        flex-wrap: wrap;
    }
  
    #projects{
        padding: 1em;
        height: auto;
    }
    .projects-container{
        height: auto;
    }
    .experience-container{
        padding: 0;
    }
    #home{
        width: 100vw;
        flex-direction: column-reverse;

    }
    .right{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .right img{
        height: 45vh;

    }
    .left h2{
        font-size: 2.0em !important;
    }
    .grid{
        flex-direction: column;
        display: flex;
    /* flex: 1; */
    flex-wrap: wrap;
    width: 100vw;
    /* height: 500px; */
    padding: 0;
    /* margin-left: 120px; */
    justify-content: space-between;
    gap: 2em;

    }
    .techS,
.profS {
    width: 100%;
    padding:  0;
}
.profS h3{
    gap: 5em;
}
.grid h3{
    text-align: center;
}
.radial-bars .radial-bar svg{
    left: 35%;
}
.body{
    width: 120%;
}
.header{

}
.logo{
    font-size: 1.4em;
    margin-right: 3em;

}
.gradient-btn{
    display: none;
}

.radial-bar .percentage{
    position: absolute;
    top: 100px;
    left: 35%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    font-weight: 500;
    animation: show;
}
#contact{
    min-height: auto;
}
#experience{
    height: auto;
    padding: 60px 20px;
}
}

/* WhatsApp Float */
.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: var(--white-color);
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.whatsapp-float:hover {
    background-color: #128C7E;
    transform: scale(1.1);
    color: var(--white-color);
}

.radial-bars{
    display: flex;
}
.radial-bar {
    position: relative;
    /* display: flex; */
    width: 50%;
    height: 150px;
    /* margin: 20px; */
  }
  
  .radial-bar svg {
    width: 100%;
    height: 100%;
    transform: rotate(-90deg); /* Makes 0% start at top */
  }
  
  .progress-bar {
    fill: none;
    stroke: var(--main-color);
    stroke-width: 20;
    opacity: 0.3; /* lighter orange background */
  }
  
  .path {
    fill: none;
    stroke: purple;
    stroke-width: 10;
    stroke-linecap: round;
    stroke-dasharray: 502; /* Circumference of circle (2Ï€r where r = 80) */
    stroke-dashoffset: 502;
    transition: stroke-dashoffset 1s ease;
  }
  
  .percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 24px;
    color: purple;
  }
  
  .text {
    text-align: center;
    margin-top: 10px;
  }
  
